
    body {
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        background:#027A9A;
        color:#fff;
        margin: 0 0 1rem;
        padding: 1rem;
    }

    table.map-medication-table {
        font-family: 'Open Sans' !important;
    }

    table.map-medication-table th {
        background:#027A9A;
        border:1px solid #ddd;
        color:#fff;
        font-size: 12pt;
        padding: 0.75rem 1rem;
        text-align: center;
    }

    table.map-medication-table td {
        border:1px solid #ddd;
        font-size: 12pt;
        padding: 0.75rem 1rem;
        vertical-align: top;
    }

    div.map-notes-container {
        font-size: 12pt;
        font-family: 'Open Sans' !important;
        padding: 2rem 0 0;
    }

    div.confidentiality {
        font-size: 12pt;
        font-family: 'Open Sans' !important;
    }


    .drug-table h4 {
        color:#fff;
        font-size: 14pt;
        font-weight: bold;
        margin: 0 0 1rem;
        padding: 1rem;
        text-align: center;
    }

    .graph h4 {
        font-size: 15pt !important;
        line-height: 0.75;
        margin-bottom: 0.5;
    }

    .graph h5 {
        font-size: 24pt !important;
        font-weight: bold;
    }

    @high-color:        #DA2127;
    @moderate-color:    #FFDC00;
    @low-color:    #3FAE49;

    .drug-table-high h4 {
        background-color: @high-color;
    }

    h5.risk-level-high {
        color: @high-color;
    }

    .drug-table-moderate h4 {
        background-color: @moderate-color;
        color:#000;
    }

    h5.risk-level-moderate {
        color: @moderate-color;
    }

    .drug-table-low h4 {
        background-color: @low-color;
    }

    h5.risk-level-low {
        color: @low-color;
    }

    .drug-table ul {
        margin: 0;
        padding: 0 0 0 2px;
        list-style:inside disc;
        font-size: 12pt;
        line-height: 1.5;
    }

    .drug-table ul li {
        margin-bottom: 0.4rem;
    }

    .drug-table-container {
        margin-bottom: 5rem;
    }

    .drug-table p.none {
        text-align: center;
    }

    .graph-container {
        padding-left: 7rem;
        margin-bottom: 5rem;
    }

    @graph-width: 125;
    @graph-height: 125;

    .graph {
        width: unit(@graph-width, px);
    }

    .graph-background {
        height: unit(@graph-height, px);
        width: unit(@graph-width, px);
    }

    .graph h4 {
        font-size: 20pt;
        font-weight: bold;
        text-align: center;
    }

    .graph h5 {
        font-size: 20pt;
        text-align: center;
    }

    @font-dot-size: 30;

    .graph-dot {
        position: absolute;
        bottom: 0%;
        left: 50%;
        width: 4px;
        margin-left: unit( (@font-dot-size * 0.226) * -1, px);
        text-align: center;
        padding-top: unit(@font-dot-size * 0.57, px);
        font-size: unit(@font-dot-size, pt);
        line-height: unit(@font-dot-size, pt);
        height: unit(@font-dot-size, pt);
    }

    .graph-dot-container {
        position: relative;
        height: unit(@graph-height/2, px);
        width: unit(@graph-width, px);
    }

    div.graph {
        float: left;
        margin:  0 160px 0 0;
    }
