
:root{
    --pix-header-transparent: 0;
    --pix-header-menu-transparent: 1;
    --pix-header-height: 75px;
    --pix-header-height-levels: 113px;
    --pix-top-bar-transparent: 1;

    --pix-main-color: #429eb5;
    --pix-main-color-hex: 48,210,185;
    --pix-gradient-color: #429eb5;
    --pix-gradient-direction-webkit: left;
    --pix-gradient-direction-o: right;
    --pix-gradient-direction-moz: right;
    --pix-gradient-direction: to right;
    --pix-additional-color: #429eb5;
    --pix-black-color: ;

    --pix-main-font: Poppins;
    --pix-font-size: 14px;
    --pix-font-weight: 400;
    --pix-font-color: ;

    --pix-title-font: ;
    --pix-title-size: 28px;
    --pix-title-weight: 700;
    --pix-title-style: normal;
    --pix-title-color: ;
    --pix-title-letter-spacing: 0;

    --pix-subtitle-font: ;
    --pix-subtitle-size: 20px;
    --pix-subtitle-weight: 400;
    --pix-subtitle-style: normal;
    --pix-subtitle-color: ;
    --pix-subtitle-letter-spacing: 0;

    --pix-hlink-font: ;
    --pix-hlink-size: px;
    --pix-hlink-weight: ;
    --pix-hlink-style: normal;
    --pix-hlink-color: ;

    --pix-buttons-border: 2px;
    --pix-buttons-font-weight: 700;
    --pix-buttons-font-style: normal;
    --pix-buttons-text-transform: none;
    --pix-buttons-letter-spacing: 0px;
    --pix-buttons-shadow: none;

    --pix-hover-gradient: linear-gradient(to left, rgba(66, 158, 181, 0.9), rgba(66, 158, 181, 0.9));
    --pix-hover-gradient: rgba(0,0,0,.4);

    --pix-tab-overlay-color: #191919;
    --pix-tab-overlay-gradient: #303030;
    --pix-tab-gradient-direction-webkit: right bottom;
    --pix-tab-gradient-direction-o: top left;
    --pix-tab-gradient-direction-moz: top left;
    --pix-tab-gradient-direction: to top left;
    --pix-tab-overlay-opacity: 0.7;


    --pix-svg-quote: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" fill="#30d2b9"%3E  %3Cpath d="M2,6.6v1v19h11v2c0,2-0.6,3.8-1.6,5.1S9.3,35.6,8,35.6H7v7h1c7.7,0,14-6.3,14-14v-3v-2v-17H2z M28,6.6v1v19h11  v2c0,2-0.6,3.8-1.6,5.1s-2.1,1.9-3.4,1.9h-1v7h1c7.7,0,14-6.3,14-14v-3v-2v-17H28z M4,8.6h16v15v2v3c0,6.3-4.9,11.3-11,11.8v-3.1  c1.6-0.3,3-1.1,4-2.5c1.2-1.6,2-3.8,2-6.3v-4H4V8.6z M30,8.6h16v15v2v3c0,6.3-4.9,11.3-11,11.8v-3.1c1.6-0.3,3-1.1,4-2.5  c1.2-1.6,2-3.8,2-6.3v-4H30V8.6z"/%3E %3C/svg%3E');

    --pix-svg-search-white: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 56.966 56.966'%3E%3Cpath d='M55.146 51.887L41.588 37.786c3.486-4.144 5.396-9.358 5.396-14.786 0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837 1.192-1.147 1.23-3.049.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3E%3C/svg%3E");
    --pix-svg-search: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#797979' viewBox='0 0 56.966 56.966'%3E%3Cpath d='M55.146 51.887L41.588 37.786c3.486-4.144 5.396-9.358 5.396-14.786 0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837 1.192-1.147 1.23-3.049.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3E%3C/svg%3E");
    --pix-svg-search-hover: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#30d2b9' viewBox='0 0 56.966 56.966'%3E%3Cpath d='M55.146 51.887L41.588 37.786c3.486-4.144 5.396-9.358 5.396-14.786 0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837 1.192-1.147 1.23-3.049.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3E%3C/svg%3E");

    --pix-svg-services: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#c1c1c1' viewBox='0 0 56 56'%3E%3Cpath d='M8 40c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM28 40c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM48 40c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM8 20c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM28 20c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM48 20c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM28 0c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM48 16c4.411 0 8-3.589 8-8s-3.589-8-8-8-8 3.589-8 8 3.589 8 8 8z'/%3E%3C/svg%3E");
    --pix-svg-services-hover: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#30d2b9' viewBox='0 0 56 56'%3E%3Cpath d='M8 40c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM28 40c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM48 40c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM8 20c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM28 20c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM48 20c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM28 0c-4.411 0-8 3.589-8 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM48 16c4.411 0 8-3.589 8-8s-3.589-8-8-8-8 3.589-8 8 3.589 8 8 8z'/%3E%3C/svg%3E");

    --pix-svg-checked: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' fill='#30d2b9' viewBox='0 0 442.533 442.533'%3E%3Cpath d='M434.539 98.499l-38.828-38.828c-5.324-5.328-11.799-7.993-19.41-7.993-7.618 0-14.093 2.665-19.417 7.993L169.59 247.248l-83.939-84.225c-5.33-5.33-11.801-7.992-19.412-7.992-7.616 0-14.087 2.662-19.417 7.992L7.994 201.852C2.664 207.181 0 213.654 0 221.269c0 7.609 2.664 14.088 7.994 19.416l103.351 103.349 38.831 38.828c5.327 5.332 11.8 7.994 19.414 7.994 7.611 0 14.084-2.669 19.414-7.994l38.83-38.828L434.539 137.33c5.325-5.33 7.994-11.802 7.994-19.417.004-7.611-2.669-14.084-7.994-19.414z' /%3E%3C/svg%3E");
    --pix-svg-checked-dark: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' fill='#333' viewBox='0 0 442.533 442.533'%3E%3Cpath d='M434.539 98.499l-38.828-38.828c-5.324-5.328-11.799-7.993-19.41-7.993-7.618 0-14.093 2.665-19.417 7.993L169.59 247.248l-83.939-84.225c-5.33-5.33-11.801-7.992-19.412-7.992-7.616 0-14.087 2.662-19.417 7.992L7.994 201.852C2.664 207.181 0 213.654 0 221.269c0 7.609 2.664 14.088 7.994 19.416l103.351 103.349 38.831 38.828c5.327 5.332 11.8 7.994 19.414 7.994 7.611 0 14.084-2.669 19.414-7.994l38.83-38.828L434.539 137.33c5.325-5.33 7.994-11.802 7.994-19.417.004-7.611-2.669-14.084-7.994-19.414z' /%3E%3C/svg%3E");

    --pix-svg-loader: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100px 50px" enable-background="new 0 0 100px 50px" xml:space="preserve"%3E%3Cpolyline fill="none" stroke-width="2px" stroke-linejoin="round" stroke="#30d2b9" points="1.2,29.4 35.4,29.4 38.1,23.1 40.6,29.4 45.0,29.4 46.9,33.3 51.4,11.4 55.3,39.4 57.8,29.4 63.2,29.4 67.2,27.4 71.2,29.4 98.7,29.4 "/%3E%3C/svg%3E');

    --pix-svg-reply: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#30d2b9' viewBox='0 0 27.361 27.361'%3E%3Cpath d='M0 12.022l9.328-9.328V6.84h9.326a8.706 8.706 0 0 1 8.707 8.706v9.12a8.703 8.703 0 0 0-8.707-8.704H9.328v5.389L0 12.022z' /%3E%3C/svg%3E");

    --pix-decor-img: url(https://nordisdev.wpengine.com/wp-content/themes/nordis/images/decor.svg);

}

html .sep-element{
}




html .custom-header span.vc_row-overlay{
    background: var(--pix-tab-overlay-color); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(var(--pix-tab-gradient-direction-webkit), var(--pix-tab-overlay-color), var(--pix-tab-overlay-gradient)); /*Safari 5.1-6*/
    background: -o-linear-gradient(var(--pix-tab-gradient-direction-o), var(--pix-tab-overlay-color), var(--pix-tab-overlay-gradient)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(var(--pix-tab-gradient-direction-moz), var(--pix-tab-overlay-color), var(--pix-tab-overlay-gradient)); /*Fx 3.6-15*/
    background: linear-gradient(var(--pix-tab-gradient-direction), var(--pix-tab-overlay-color), var(--pix-tab-overlay-gradient)); /*Standard*/
    opacity: var(--pix-tab-overlay-opacity);
}






html .pix-gradient,
html .pix-item-review .round,
html .pix-item-left .round,
html .pix-item-default .round,
html .news-card-price__header,
html .pix-progress-bar,
html .news-card-centered__image .overlay,
html .pix-overlay.pix-color
{
    background: var(--pix-main-color); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(var(--pix-gradient-direction-webkit), var(--pix-main-color), var(--pix-gradient-color)); /*Safari 5.1-6*/
    background: -o-linear-gradient(var(--pix-gradient-direction-o), var(--pix-main-color), var(--pix-gradient-color)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(var(--pix-gradient-direction-moz), var(--pix-main-color), var(--pix-gradient-color)); /*Fx 3.6-15*/
    background: linear-gradient(var(--pix-gradient-direction), var(--pix-main-color), var(--pix-gradient-color)); /*Standard*/
}

html .transparent.pix-icon-color .icon span,
html .news-item-price-long__price .icon-message span
{
    background: -webkit-linear-gradient(var(--pix-gradient-direction-webkit), var(--pix-main-color), var(--pix-gradient-color)); /*Safari 5.1-6*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






html .custom-header{
    padding: 170px 0 120px;
    margin-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

html .pix-header.pix-levels + .custom-header{
    padding-top: 170px;
}

html .pix-header.pix-levels.header-topbar-view + .custom-header{
    padding-top: 220px;
}

html .header-topbar-view + .custom-header{
    padding-top: 220px;
}

section.pix-page-no-padding{
    margin-top: -100px;
}


@media screen and (max-width: 1000) {
    html .header-topbar-view + .custom-header{
        padding-top: 170px;
    }
}

@media screen and (max-width: 575) {
    html .header-topbar-view + .custom-header{
        padding-top: 85px;
    }
}

