$themePrimary: #429eb5;
$themeSecondary: #4F5359;
$themeTertiary: #676c73;
$themeWhite: #fff;
$themeGray: #ddd;

$zindexDropdown: 1000;
$borderRadiusBase: 2px;

.title-decoration {
  margin-bottom: 20px;
  position: relative;

  &::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    width: 30px;
    height: 4px;
    background: var(--pix-main-color);
  }
}

html .custom-header {
  background: url("/rxg_theme/img/banner.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
}

.hidden {
  display:none;
}

.pix-footer {
  margin-top: 100px;
}

.pix-header {
  .navbar-brand {
    .pix-header-logo {
      height: 50px;
    }
  }

  &.fixed {
    .navbar-brand {
      .pix-header-logo {
        height: 30px;
      }
    }
  }

  .pix-main-menu {
    ul {
      li {
        padding-bottom: 15px;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none;
  }

  &.inline-list {
    li {
      list-style: none;
      display: inline-block;
      margin: 0 6px;
    }
  }

  &.block-list {
    margin: 15px 30px;

    li {
      padding: 6px;
      display: block;
    }
  }
}

.table {
  width: 100%;

  thead {
    tr {
      th {
        text-align: left;
      }
    }
  }


  tbody {
    tr {
      td {
        padding: 6px;
      }
    }
  }

  &.table-striped {
    tbody {
      tr:nth-child(even){
        background: #eee;
      }
    }
  }
}

.panel {
  position: relative;
  padding: 40px 50px;
  margin-left: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.10), 0px 10px 30px rgba(0,0,0,0.05);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.10), 0px 10px 30px rgba(0,0,0,0.05);
  margin-bottom: 50px;
  //overflow: hidden;

  .panel-heading {
    .panel-controls {
      float: right;
    }
  }

  .panel-footer {
    clear: both;
    padding: 15px 0;

    .row {
      &> .col-md-9,
      &> .col-md-3 {
        // This is forcing pagination footer columns to be equal since the templates are in 24Watch
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
  }
}

label {
  display: block;
}

.inline-label {
  label {
    display: inline-block;
    margin-left: 0.5em;
  }
}

.flash-messages {
  padding: 0 0 16px 35px;

  .error {
    color: red;
  }
}

.form-control {
  margin-right: 0%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  transition: .35s;
  display: inline-block;
  width: 100%;

  &input[type="text"]:focus {
    border-color: var(--pix-main-color);
  }
}

select {
    padding: 5px !important;
}

.pagination {
  margin: 0;
  width: 100%;

  li {
    display: inline-block;
  }
}

.pagination-results-container {
  li {
    .form-control {
      width: unset;
    }
  }
}

.list-inline {
  li {
    display: inline-block;
  }
}

.user-form-container {
  margin: 12px 0;
}

.btn {
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: var(--pix-main-color);
  border-color: var(--pix-main-color);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.333s ease 0s;
  margin: 0px;
  opacity: 1;
  font-family: var(--pix-title-font);
  display:inline-block;
  padding: 6px;

  &:hover {
    color: var(--pix-main-color);
    background: none;
  }

  &.btn-large {
    padding: 18px 48px 20px;
    font-weight: 900;
  }

  &.default,
  &.btn-default,
  &.primary,
  &.btn-primary {
    color: rgb(255, 255, 255);
    background-color: var(--pix-main-color);
    border-color: var(--pix-main-color);

    &:hover {
      color: var(--pix-main-color);
      background: none;
    }
  }

  &.secondary,
  &.btn-secondary {
    color: rgb(255, 255, 255);
    background-color: #333;
    border-color: #333;

    &:hover {
      color: #333;
      background: none;
    }
  }
}

.lab-form-buttons {
  margin-top: 30px;
}

.ui-menu {
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.05);
  padding: 0;
  margin: 0;

  .ui-menu-item {
    &.ui-state-focus
    {
      background: $themePrimary;
      color: #fff;
    }
  }
}

.required {
  label {
    &::after {
      content: ' *';
      color: red;
    }
  }
}

.error-message {
  color: red;
}

div.datepicker {
  padding: 10px;

  //.shadow (0 px 2 px 1 px 0 px rgba(0, 0, 0, 0.1));
  min-width: 250px;

  > div {
    display: none;
  }

  table {
    width: 100%;
    margin: 0;
  }

  td, th {
    text-align: center;
    width: 20px;
    height: 20px;
  }

  td {
    &.day:hover {
      background: #F5F5F5;
      cursor: pointer;
    }

    &.day.disabled {
      color: #CCC;
    }

    &.old, &.new {
      color: #999;
    }

    &.active, &.active:hover {
      background: $themePrimary;
      color: #fff;
      border-radius: 3px;
    }

    span {
      display: block;
      width: 31%;
      height: 54px;
      line-height: 54px;
      float: left;
      margin: 2px;
      cursor: pointer;

      &:hover {
        background: #F5F5F5;
      }

      &.active {
        background: $themePrimary;
        color: #fff;

        border-radius: 3px;
      }

      &.old {
        color: #999;
      }
    }
  }

  th {
    &.switch {
      width: 145px;
    }

    &.next, &.prev {
      font-size: 12px;
    }
  }

  thead tr:first-child th {
    cursor: pointer;
    padding: 8px 0px;

    &:hover {
      background: #F5F5F5;
      border-radius: 3px;
    }
  }
}

.input-append, .input-prepend {
  &.date {
    .add-on i {
      display: block;
      cursor: pointer;
      width: 16px;
      height: 16px;
    }
  }
}


// Override datepicker navigation icons with Font Awesome in the mid-end
.datepicker {
  .prev,
  .next {
    .glyphicon {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    .glyphicon-chevron-left::before {
      content: "\f060";
    }

    .glyphicon-chevron-right::before {
      content: "\f061";
    }
  }
}

.datepicker-decades {
  .decade {
    font-size: 12px;
  }
}

.datepicker.dropdown-menu:after, .datepicker.dropdown-menu:before {
  left: 16px;
}

.datepicker.datepicker-orient-left.dropdown-menu:after, .datepicker.datepicker-orient-left.dropdown-menu:before {
  left: auto;
  right: 16px;
}

.bootstrap-timepicker {
  position: relative;

  &.pull-right {
    .bootstrap-timepicker-widget {
      &.dropdown-menu {
        left: auto;
        right: 0;
      }
    }
  }

  .add-on {
    cursor: pointer;

    i {
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }
}

.bootstrap-timepicker-widget {
  padding: 5px;

  &.dropdown-menu.timepicker-orient-top {
    &:before, &:after {
      left: 15px;
    }
  }

  &.timepicker-orient-bottom {
    &:before {
      bottom: -7px;
      border-bottom: 0;
      border-top: 7px solid #E5E5E5;
    }

    &:after {
      bottom: -6px;
      border-bottom: 0;
      border-top: 6px solid #ffffff;
    }
  }

  a.btn, input {
    border-radius: 4px;
  }

  table {
    width: 100%;
    margin: 0;

    td {
      text-align: center;
      height: 30px;
      margin: 0;
      padding: 2px;

      &:not(.separator) {
        min-width: 30px;
      }

      span {
        width: 100%;
      }

      a {
        border: 1px transparent solid;
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 8px 0;
        outline: 0;
        color: #333;

        &:hover {
          text-decoration: none;
          background-color: #F5F5F5;
        }

        i {
          margin-top: 2px;
          font-size: 6px;
          color: #333;
        }
      }

      input {
        width: 50px;
        margin: 0;
        text-align: center;
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

.bootstrap-timepicker-widget {
  display: block;

  .modal-content {
    padding: 4px;
  }
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindexDropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  //font-size: @font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $themeWhite;
  border: 1px solid $themeGray; // IE8 fallback
  border: 1px solid $themeGray;
  border-radius: $borderRadiusBase;

  //.box-shadow (0 6 px 12 px rgba(0, 0, 0, .175));
  background-clip: padding-box;

  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    //.nav-divider (@dropdown-divider-bg);
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    //line-height: @line-height-base;
    color: $themePrimary;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    //color: @dropdown-link-hover-color;
    //background-color: @dropdown-link-hover-bg;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    //color: @dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    //background-color: @dropdown-link-active-bg;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    //color: @dropdown-link-disabled-color;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    //.reset-filter ();
    //cursor: @cursor-disabled;
  }
}

.navbar-nav {
  .btn {
    font-color: $themeWhite;
    position: relative;
    top: 23px;
  }
}

.fixed {
  .navbar-nav {
    .btn {
      top: 10px;
    }
  }
}

.pix-header.white nav ul li .btn i {
  color: $themeWhite;
}

.help-block {
  font-size: 14px;
  font-style: italic;
}

.pix-footer__bottom {
  position: relative;

  img.hipaa-compliance {
    position: absolute;
    width: 140px;
    right: -12px;
    top: -5px;
  }
}

.raised-container {
  margin-top: -200px;

  @media (min-width: 576px) {
    margin-top: -300px;
  }
}

.tos-body {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

footer a {
  color: $themeWhite;
}

.btn.pull-right {
  margin-left: 6px;
}

.report-use-warning {
  border:solid 1px $themeGray;
  margin: 9px 0;
  padding: 6px;
  text-align: center;
}

/* Logged in as */

.alert-logged-in {
    background: #333;
}

.alert-logged-in .container {
    height: 3rem;
}

.alert-logged-in div.container p {
    color: #fff;
    margin-bottom: 0;
}

.alert-logged-in .logout {
    justify-self: end;
}

.alert-logged-in .logout a {
    color: #fff;
}
