/* ************************************************
Theme Name: Nordis
Author: PixTheme
Text Domain: nordis
Version: 2.2.1
Description: Norids - Medical template with E-commerce.
Theme URI:  http://nordis.true-emotions.studio
Author URI: https://true-emotions.studio/
License: See on zip package
License URI: See on zip package
Tags: custom-header, custom-menu, editor-style
*/




/* ======= WordPress ELEMENTS ======= */

.admin-bar .header-search .close {
    top: 30px;
}

.aligncenter{
    margin: 0 auto;
    display: block;
}

img[class*="wp-image-"] {
    display: block;
    max-width: 100%;
    height: auto;
}

.wp-caption {
    text-align: left;
}
.wp-caption-text {
    text-align: left;
    padding-top: 10px;
}
.gallery-caption {
    text-align: left;
}
.alignright {
    text-align: right;
    float: right;
}
.alignleft {
    text-align: left;
    float: left;
}
.aligncenter {
    text-align: center;
}

.bypostauthor {
    text-align: left;
}



blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4211em 1.6842em 1.6842em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4211em 0 1.6842em 1.6842em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    margin-top: 0.4211em;
    margin-bottom: 1.6842em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2632em;
}


.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.rtd h1, .rtd h2, .rtd h3, .rtd h4, .rtd h5, .rtd h6 {
    font-weight: var(--pix-title-weight);
    color: #333;
    margin: 15px 0 10px 0;
    padding: 0;
}
.blog-article .rtd h1, .blog-list .rtd h1,
.blog-article .rtd h2, .blog-list .rtd h2,
.blog-article .rtd h3, .blog-list .rtd h3,
.blog-article .rtd h4, .blog-list .rtd h4,
.blog-article .rtd h5, .blog-list .rtd h5,
.blog-article .rtd h6, .blog-list .rtd h6{
    color: #555;
    margin: 30px 0 10px 0;
}
em a{
    font-style: italic;
}

blockquote {
    padding: 40px;
    border: 2px solid var(--pix-main-color);
    line-height: 1.7;
    font-size: 15px;
    text-align: center;
    position: relative;
}
blockquote:before {
    width: 70px;
    height: 55px;
    position: absolute;
    color: var(--pix-main-color);
    left: 0;
    right: 0;
    top: -25px;
    background: var(--pix-svg-quote) no-repeat center center;
    background-color: #ffffff;
    content: "";
    margin: auto;
}
.rtd blockquote{
    margin: 60px 0 40px !important;
}
blockquote p{
    margin: 0px !important;
    color: #333 !important;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
html body .booked-calendar-wrap.small table.booked-calendar thead tr.days th{
    font-size: 0.6rem;
    padding: 0.5rem 0 0.4rem !important;
}
html body .booked-calendar-wrap.small table.booked-calendar thead th {
    padding: 1.15rem 0 0.9rem !important;
}
html body .booked-calendar-wrap {
    margin-bottom: 20px;
}

.bypostauthor {
    list-style: none;
    background: none;
}

.blog-item-quote .blog-item_desc {
    width: 80%;
    margin: 0px auto;
    float: none !important;
}
.blog-item-quote .blog-item_text {
    border: none !important;
}
.blog-quote-source {
    font-weight: normal;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: #333;
    padding-top: 20px;
    font-family: var(--pix-title-font);
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.rtd  h1, .rtd  h2, .rtd  h3, .rtd  h4, .rtd  h5, .rtd  h6{
    line-height: normal;
}


.rtd p, .rtd ul:not([class]),
.rtd .wpb_text_column p:last-child{
    margin: 15px 0 25px;
    line-height: 30px;
    color: #797979;
}
.pix-link-pages{
    clear: both;
    word-spacing: 10px;
}
.rtd p a{
    text-decoration: underline;
}
.rtd p a:hover{
    text-decoration: none;
}

.rtd dl:not([class]) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
}
.rtd  dt:not([class]) {
    text-align: right;
    font-weight: bold;
    color: #555;
}
.rtd  dt:not([class])::after {
    content: ":";
}


.rtd ul:not([class]) {
    margin: 0;
}

.rtd ul:not([class]) {
    padding-left: 15px;
    list-style: none;
    margin-bottom: 0;
}
.rtd ul:not([class]) li:not([class]) {
    margin: 0;
    line-height: 1.7;
}
.rtd ul:not([class]) li:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    display: inline-block;
    margin-right: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul.list-styled li.disabled {
    color: #c8c9cc;
}
ul.list-styled.list-style-ok li::before {
    content: '\f00c';
    color: #28ad62;
}
ul.list-styled.list-style-ok li.disabled::before {
    content: '\f00d';
    color: #c8c9cc;
}
.rtd img {
    max-width: 100%;
    height: auto;
}
.wp-caption {
    text-align: left;
    max-width: 100%;
}


.rtd table:not([class]) {
    margin: 20px 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.rtd table:not([class]) td:not([class]),
.rtd table:not([class]) th:not([class]) {
    padding: 10px;
    border: 1px solid #d0d2d7;
    font-weight: normal;
}
.rtd table:not([class]) th {
    padding: 10px;
    border: 1px solid #d0d2d7;
}

ul:([class]), ol:([class]){
    list-style: none;
    margin: 0;
    padding: 0;

}



.rtd ul:not([class]) li::before {
    font-size: 6px;
    width: 1.555em;
    content: '\f111';
    text-align: center;
    vertical-align: middle;
}

.rtd ol:not([class]) > li::before{
    display: none !important;


}
.rtd ul:not([class]) ul:not([class]) li::before {
    content: '\f10c';
}
.rtd ol:not([class]) {
    padding-left: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.rtd ol:not([class])  li:not([class]){
    padding-bottom: 0px;
}

.wrap-media img {
    max-width: 100%;
    height: auto;
}
.gallery-icon a {
    text-align: center;
    display: inline-block;
}
.rtd iframe {
    max-width: 100%;
    max-height: 100%;
}


.rtd pre {
    padding: 20px;
}




/*Sidebar*/
aside {
    margin-bottom: 100px;
}

aside .side-menu__item ul > li , aside .menu > li{
    padding: 0px 0 15px;
    margin: 0 0 0px 0;
    list-style: none;
    /*border-bottom: 1px solid #eaeaea;*/
    color: #797979;
    line-height: 1.55;
    font-weight: 600;
    position: relative;
}

aside .children,
aside .sub-menu{
    margin: 0px 0px 5px 15px;
}

aside  ul .children li,
aside  ul .sub-menu li{
    padding: 5px 0 0;
    margin: 0 0 0px 0;
    list-style: none;
    font-size: 12px;
    color: #797979;
    font-weight: 600;
    border-bottom:0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

}

aside ul .children li a:before,
aside ul .sub-menu li a:before{
    top: 12px;
}

.widget_product_categories  .children{
    display:none;
}

.widget_product_categories   .current-cat  .children{
    display:block;
}

.widget_product_categories  .children{
    margin: 0px 0px 5px 10px;
}

.widget_product_categories  .children a{
    font-size:10px;
}

aside .side-menu__item ul  li  a , aside .menu  li a , aside .side-menu__item ul  li {
    font-size: 14px;
    font-weight: 600;
    min-height: 26px;
}

aside li a +  .count{
    font-weight: normal;
    float: right;
}

.entry-media img {
    max-width:100%;
    height:auto;
}

aside .menu  li:hover .dropdown-menu{
    display:block !important;

}


/*Sidebar Widgets*/



aside img{
    max-width:100%;
    height:auto;
    margin:10px 0;
}



aside select {
    max-width: 100%;
    border: 1px solid #ececec;
    padding: 5px;
    margin: 5px 0;
    border-radius: 0;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    width: 100%;
}


aside table{
    width:100%;
}

aside table td , aside table th{
    border:1px solid #ddd;
    padding:5px;
    text-align:center;
}


aside table td a{
    color: #333;
}


.widget_rss .rss-date{
    display: inline-block;
    width: 100%;
    color:#666;
    padding: 10px 0;
    font-weight: normal;

}

.widget_rss  .rssSummary{
    font-weight: normal;
    text-transform: none;
    line-height: 20px;
}

.widget_rss   cite{
    font-size: 12px;
    display: inline-block;
    text-align: right;
    width: 100%;
    font-weight: normal;
    text-transform: none;
}

.widget-title .rsswidget{
    font-size: 20px;
}
.widget-title .rsswidget img{
    margin: 0;
}
.rsswidget{
    font-size: 12px;
    color: #333;
}



form.searchform{
    position: relative;
}
form.searchform div:after{
    position: absolute;
    top: 12px;
    right: 10px;
    width: 15px;
    height: 15px;
    opacity: 1;
    content: "";
    background: var(--pix-svg-search) no-repeat center center;
}
.widget_search label,
.widget_search input[type="submit"],
.woocommerce-product-search input[type="submit"]{
    background-color: transparent !important;
    border: none;
    padding: 0;
    width: 30px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.woocommerce-product-search input[type="search"]  , .widget_search  input[type="search"]  ,   .widget_search  input[type="text"]{
    width: 100%;
    float: left;
    margin-right: 0%;
    background: #fff;;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    transition: .35s;
}
.woocommerce-product-search input[type="search"]:focus  , .widget_search  input[type="search"]:focus  ,   .widget_search  input[type="text"]:focus{
    border-color: var(--pix-main-color);
}


.textwidget {
    line-height:20px;
}


.textwidget img{
    margin-bottom:5px;
}





.post-sticky:before {
    content: "\f0c6" !important;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 35px;
    position: absolute;
    right: 60px;
    text-transform: none;
    top: -32px;
    z-index: 777;
    color: #000;
    height: 50px;
    border: 0;
    width: 50px;
    border-radius: 10px;
    padding: 16px;
}

.post-sticky:nth-child(even):before {
    right: auto;
    left: -12px;
    top: -30px;
}


/*TAGS*/

.wp-tag-cloud {
    margin-left: -5px !important;
    display: inline-block;
}
.tagcloud li {
    float: none !important;
    display: inline-block !important;
    margin: 3px 1px !important;
    width: auto !important;
}
.tagcloud {
    clear: both;
}
html .tagcloud a {
    font-size: 12px !important;
    display: inline-block;
    background: transparent;
    border: 1px solid #eee;
    padding: 10px 16px;
    margin-right: 0;
    margin-bottom: 3px;
    color: #333333 !important;
}
html .tagcloud a:hover {
    color: #fff !important;
    background-color: var(--pix-main-color) !important;
    border-color: var(--pix-main-color) !important;
    text-decoration: none !important;
}
.tagcloud li:hover a {
    color: #fff!important
}



/* ======= VC ELEMENTS ======= */

html .rev_slider em a{
    font-family: var(--pix-subtitle-font);
    font-size: 16px !important;
    color: var(--pix-main-color);
    cursor: pointer;
}

html .vc_progress_bar .vc_single_bar{
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
html .vc_progress_bar .vc_single_bar .vc_label {
    font-family: var(--pix-main-font);
    padding: 1.5em 2em;
    font-size: 1.2em;
    font-weight: 600;
}
html .vc_progress_bar .vc_single_bar .vc_bar {
    border-radius: 50px;
}

html .wpb_text_column :last-child, html .wpb_text_column p:last-child{
    font-size: var(--pix-font-size);
}

.text-white-color *,
.text-white-color .section-heading .section-subtitle,
.text-white-color .wpb_text_column p:last-child {
    color: #fff;
}
.text-white-color .pix-item-default.pix-item-default-filled h2{
    color: #ccc;
}

.vc-overflow-no{
    overflow: inherit !important;
}

/*.vc_row-o-equal-height .wpb_wrapper,*/
/*.vc_row-o-equal-height .wpb_wrapper .pix-square,*/
/*.vc_row-o-equal-height .wpb_wrapper .pix-square .pix-item-default{*/
/*height: 100%;*/
/*margin-bottom: 0;*/
/*}*/
.vc_row-o-equal-height .wpb_wrapper .pix-square .pix-item-default{
    padding-top: 65px;
}

.compose-mode .vc_row[data-vc-full-width].vc_hidden {
    opacity: 1;
}

.compose-mode .section-gallery {
    text-align: center;
}


.compose-mode .gallery-item {
    position: relative;
    width: 25%;
    display: inline-block;
    margin-left: -1%;
    vertical-align: top;
}


.compose-mode .vc_element, .view-mode .vc_element {
    display: inline-block;
    position: relative;
}

.vc_active .vc_tta-panel-heading  {
    background-color: var(--pix-main-color) !important;
}
.vc_active .vc_tta-panel-heading a span {
    color: #fff;
}
.vc_active .vc_tta-panel-heading a .vc_tta-controls-icon:before{
    border-color: #fff !important;

}
.vc_tta-tab.vc_active a {
    border-color: var(--pix-main-color) !important;
}
.vc_tta-title-text {
    list-style: none;
    font-family: var(--pix-title-font);
    font-weight: var(--pix-title-weight);
    color: #333;
    font-size: 14px;
}
html .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body,html  .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::after, html .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::before , html .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading , html .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading  {
    border-color: #eee;
}


.staticblocks-template-default   .col-lg-9.col-md-8.col-sm-12.col-xs-12.left-column.sidebar-type-2{
    width: 100% !important;
}


.staticblocks-template-default .col-lg-3.col-md-4.col-sm-12.col-xs-12 , .staticblocks-template-default .post-footer ,.staticblocks-template-default  .post-description ,.staticblocks-template-default  .post-image , .staticblocks-template-default  .blog-post .post-image{
    display: none;
}


.wpcf7-not-valid-tip{
    display: none !important;
}


html .wpcf7-not-valid {
    border: 0 !important;
    border-bottom: 1px solid red !important;
}

.vc_custom_heading a:hover {
    color: var(--pix-main-color) !important;
}

.vc_custom_1524405751856 .section-brands a.item img{
    opacity: .6;
    transition: all .35s;
}
.vc_custom_1524405751856 .section-brands a.item:hover img{
    opacity: 1;
}

.pix-mc4wp .form-control {
    background: none;
    box-shadow: none !important;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    width: 100%;
    font-size: 12px;
    padding-left: 10px;
    font-style: italic;
    height: 50px;
    color: #777;
    transition: .35s;
}
.form-control:focus, .form-control:active {
    border-color: var(--pix-main-color);
}
.text-white .form-control {
    border-bottom: 1px solid #777;
}
.has-feedback {
    position: relative;
}
.pix-mc4wp {
    font-family: inherit;
    line-height: 1.1;
    font-size: 16px;
    width: 70%;
    margin-top: 10px;
}
.pix-mc4wp input[type="submit"] {
    background: none !important;
    border: none;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-left: 5px;
    vertical-align: text-top;
    width: 42px;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 3;
    text-align: center;
    cursor: pointer;
}
.pix-mc4wp .icon {
    color: #777;
    position: absolute;
    right: 14px;
    top: 18px;
    cursor: pointer;
    transition: .35s;
}
.pix-mc4wp input[type="submit"]:hover + span.icon {
    color: var(--pix-main-color);
}
.text-white .pix-mc4wp .form-control-feedback {
    color: #777;
}

.pix-shadow-default{
    /* box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1), 0px 10px 30px 0px rgba(0,0,0,0.05);*/
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.06),0px 10px 10px 0px rgba(0,0,0,0.05);
}

/*   Pix Paddings   */

/* S padding */
.vc_row{
    position: relative;
}

html .vc_row.pix-padding-top-s,
html .vc_row > .vc_column_container.pix-padding-top-s{
    padding-top: 25px;
}
html .vc_row.pix-padding-bottom-s,
html .vc_row > .vc_column_container.pix-padding-bottom-s{
    padding-bottom: 25px;
}

/* M padding */
html .vc_row.pix-padding-top-m,
html .vc_row > .vc_column_container.pix-padding-top-m{
    padding-top: 50px;
}
html .vc_row.pix-padding-bottom-m,
html .vc_row > .vc_column_container.pix-padding-bottom-m{
    padding-bottom: 50px;
}

/* L padding */
html .vc_row.pix-padding-top-l,
html .vc_row > .vc_column_container.pix-padding-top-l{
    padding-top: 75px;
}
html .vc_row.pix-padding-bottom-l,
html .vc_row > .vc_column_container.pix-padding-bottom-l{
    padding-bottom: 75px;
}

/* XL padding */
html .vc_row.pix-padding-top-xl,
html .vc_row > .vc_column_container.pix-padding-top-xl{
    padding-top: 100px;
}
html .vc_row.pix-padding-bottom-xl,
html .vc_row > .vc_column_container.pix-padding-bottom-xl{
    padding-bottom: 100px;
}

/* no padding */
html .vc_row>.vc_column_container.pix-top-no-padding>.vc_column-inner,
html .vc_row-has-fill+.vc_row-full-width+.vc_row.pix-top-no-padding>.vc_column_container>.vc_column-inner,
html .vc_row-has-fill>.vc_column_container>.vc_column-inner{
    padding-top: 0 !important;
}
html .vc_row>.vc_column_container.pix-bottom-no-padding>.vc_column-inner {
    padding-bottom: 0 !important;
}


@media only screen and (max-width : 768px) {

    html .vc_row.pix-padding-top-m,
    html .vc_row > .vc_column_container.pix-padding-top-m,
    html .vc_row.pix-padding-top-l,
    html .vc_row > .vc_column_container.pix-padding-top-l,
    html .vc_row.pix-padding-top-xl,
    html .vc_row > .vc_column_container.pix-padding-top-xl{
        padding-top: 35px;
    }
    html .vc_row.pix-padding-bottom-m,
    html .vc_row > .vc_column_container.pix-padding-bottom-m,
    html .vc_row.pix-padding-bottom-l,
    html .vc_row > .vc_column_container.pix-padding-bottom-l,
    html .vc_row.pix-padding-bottom-xl,
    html .vc_row > .vc_column_container.pix-padding-bottom-xl{
        padding-bottom: 35px;
    }


    html .vc_custom_1515676249233{
        padding-top:0 !important;
        padding-left: 30px !important;
    }
    html .vc_custom_1514996015533 {
        padding-bottom: 0 !important;
        padding-left: 30px !important;
    }
    html .vc_custom_1515610473195{
        margin-left: 0 !important;
    }
    html .vc_custom_1515172846616 {
        padding-left: 15px !important;
    }
    html .vc_custom_1515517885873 {
        padding-left: 20px !important;
    }
    html .vc_custom_1515763197663 .section-heading{
        padding-left: 10px;
    }
}



/* Blog */
.rtd {
    font-size: 0.95em;
    line-height: 1.8;
    color: #797979;
    font-family: var(--pix-main-font);
}

.rtd h1{
    font-size: 2.6179em;
}
.rtd h2{
    font-size: 2.0581em;
}
.rtd h3{
    font-size: 1.618em;
}
.rtd h4{
    font-size: 1.272em;
}
.rtd h5{
    font-size: 1em;
}
.rtd h6{
    font-size: 0.7862em;
}

html .vc_btn3.vc_btn3-color-juicy-pink, html .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #ffffff;
    background-color: #237ac6 ;
}

html  .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:focus, html   .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover, html   .vc_btn3.vc_btn3-color-juicy-pink:focus, html   .vc_btn3.vc_btn3-color-juicy-pink:hover {
    color: #f7f7f7;
    background-color: #237ac6;
    opacity: 0.8;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: auto;
}

.rtd .vc_row{
    margin-left: 0;
    margin-right: 0;
}
.rtd .vc_column_container>.vc_column-inner{
    padding-left: 0;
    padding-right: 0;
}
.vc_custom_heading h4{
    font-weight: 600 !important;
}

html .vc_gitem_row .vc_gitem-col {
    padding: 20px;
}



.vc_icon_element.vc_icon_element-outer.vc_icon_element-align-center {
    text-align: center;
    display: block;
}


.no-slide-add-menu img{
    width: 100%;
    height: auto;
}

.no-slide-add-menu{
    margin: 25px 10px;
    font-size: 16px;
    line-height: 31px;
    text-align: left;
    color: #fff;
}


html #fleet-gallery img {
    width: auto;
    height: auto;
    max-width: 100%;
}



.widget_services_category .widget-title{
    display: none !important;
}



.section-form   input[type="tel"] , .section-form   input[type=text], .section-form   input[type=email] , .section-form   input[type=date] , .section-form  textarea{
    border: 0 !important;
    background: #fff !important;
    padding: 10px 20px !important;
    margin: 0 0 15px 0 !important;
    width: 100%;
    color: #999999 !important;
    font-size: 15px;
    border-radius: 3px;
    max-height: 37px;
}


html .section-form   input[type=date] {
    padding: 7px 20px 7px !important;
}



.section-form  .wpcf7-form-control-wrap {
    display: inline-block;
    height: 50px;
    position: relative;
    width: 100%;
}


.section-form  textarea{
    height: 60px;
}


.section-form   input[type=submit]{
    background: none !important;
    padding: 10px 20px !important;
    margin: 0 !important;
    width: auto;
    color: #fff !important;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #fff !important;
    float: left !Important;
    margin-top: 20px !important
}


.section-form   p{
    color: #fff !important;
    padding-top: 20px;
}


.section-form   p i{
    margin-right: 5px;
}


html div.wpcf7-validation-errors {
    border: 2px solid #f7e700 ;
    color: #f7e700 ;
}

html div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    background: #398f14 !important;
    color: #fff !important;
}



html .vc_images_carousel .vc_carousel-indicators .vc_active {
    background-color: var(--pix-main-color);
    border: 1px solid var(--pix-main-color);
    margin: 1px;
}

/*   HEADER BUTTON    */

.header .navbar .navbar-nav li.header-button{
    margin-right: 0;
    margin-top: -15px;
    margin-left: 25px;
}
.header .navbar .navbar-nav li.header-button a{
    max-width: 110px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.header.header-color-white .navbar .navbar-nav li.header-button a{
    border: 1px solid rgba(255,255,255,.2) !important;
}
.header.header-color-black .navbar .navbar-nav li.header-button a{
    border: 1px solid rgba(0,0,0,.2) !important;
}


.navbar .navbar-nav li.header-button a.book-appointment{
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
    border-radius: 3px !important;
    display: inline-block !important;
    line-height: 1.4 !important;
    margin-top: 11px !important;
    max-width: 100% !important;
    padding: 5px 13px !important;
    width: auto !important;


}

.header.header-color-white  a.book-appointment{
    color: #fff !important
}

.header-full-width  .book-appointment{
    margin-right: 25px !important;
}

.header.header-color-white .navbar .navbar-nav li.header-button a.book-appointment:hover{
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;
}

html .booked-calendarSwitcher.calendar {
    border-radius: 0 !important;
    margin-bottom: 15px;
}

.calendar-change-loader{
    display: none;
    position: relative;
}
.ajax-loading .calendar-change-loader{
    display: block;
}
.ajax-loading  .booked_calendar_chooser {
    display: none;
}
.calendar-changing{
    position: absolute;
    top: 4px;
    left: 118px;
    z-index: 1;
    color: white;
}
.booked-calendarSwitcher.calendar{
    min-width: 250px;
}




/* Contact Form 7 */

.pix-contact-form input:not([type=submit]),
.pix-contact-form textarea{
    padding: 25px 35px;
    background-color: #f8f8f8;
    border:0;
    font-family: var(--pix-main-font);
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}
.pix-contact-form input[type=text],
.pix-contact-form textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid transparent;
}
.pix-contact-form input[type=text]:focus,
.pix-contact-form textarea:focus {
    box-shadow: 0 0 5px var(--pix-main-color);
    border: 1px solid var(--pix-main-color);
}
.pix-contact-form input[type=submit]{
    margin-bottom: 25px;
}


/* Page 404 */
html .page-404{
    padding-top: 3vw;
    padding-bottom: 15vw;
    text-align: center;
}
html .page-404 a{
    font-family: var(--pix-subtitle-font);
    font-style: italic;
}


/* Booked */

body .booked-modal .booked-form p,
body .booked-modal .booked-form label,
body .booked-modal .booked-form span {
    color: #333;
}

html .booked-calendarSwitcher.calendar p,
body.pix-theme-tone-dark table.booked-calendar td{
    color: #fff !important;
}
html .text-black table.booked-calendar td.prev-date .date *,
html .text-black table.booked-calendar td.prev-date:hover .date,
html .text-black table.booked-calendar td.prev-date:hover .date span{
    color: #ccc !important;
}
html #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active,
html #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active:hover,
html body #booked-profile-page input[type=submit].button-primary:hover,
html body .booked-list-view button.button:hover,
html body .booked-list-view input[type=submit].button-primary:hover,
html body table.booked-calendar input[type=submit].button-primary:hover,
html body .booked-modal input[type=submit].button-primary:hover,
html body table.booked-calendar th,
html body table.booked-calendar thead,
html body table.booked-calendar thead th,
html body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
html body #booked-profile-page .booked-profile-header,
html body #booked-profile-page .booked-tabs li.active a,
html body #booked-profile-page .booked-tabs li.active a:hover,
html body #booked-profile-page .appt-block .google-cal-button > a:hover,
html #ui-datepicker-div.booked_custom_date_picker .ui-datepicker-header,
html body table.booked-calendar td:hover .date span
{
    background: var(--pix-main-color) !important;
}

html body table.booked-calendar th,
html body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
html body #booked-profile-page .booked-profile-header,
html body #booked-profile-page .appt-block .google-cal-button > a:hover,
html body table.booked-calendar td.today .date span {
    border-color: var(--pix-main-color) !important;
}
body.pix-theme-tone-dark table.booked-calendar tr.days,
body.pix-theme-tone-dark table.booked-calendar tr.days th,
body.pix-theme-tone-dark .booked-calendarSwitcher.calendar,
body #booked-profile-page .booked-tabs,
.pix-theme-tone-dark #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead,
.pix-theme-tone-dark #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead th,
body.pix-theme-tone-dark table.booked-calendar td.next-month .date,
body.pix-theme-tone-dark table.booked-calendar td.prev-month .date{
    background: #1c1c1c !important;
}
html body.pix-theme-tone-dark table.booked-calendar td.prev-date .date,
html body.pix-theme-tone-dark table.booked-calendar td.prev-date:hover .date,
html body.pix-theme-tone-dark table.booked-calendar td.prev-date:hover .date span {
    background: #333 !important;
}
html body.pix-theme-tone-dark table.booked-calendar td .date,
html body.pix-theme-tone-dark table.booked-calendar td:hover .date{
    background: #222 !important;
}
body.pix-theme-tone-dark table.booked-calendar tr.days th,
body.pix-theme-tone-dark #booked-profile-page .booked-tabs,
body.pix-theme-tone-dark table.booked-calendar,
body.pix-theme-tone-dark table.booked-calendar td:first-child,
body.pix-theme-tone-dark table.booked-calendar td:last-child,
body.pix-theme-tone-dark table.booked-calendar td{
    border-color: #777 !important;
}



/* Popup Video */
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}



/* VC FIX */


.wpb_images_carousel{
    overflow: hidden;
    position: relative;
}

html .owl-carousel {
    padding-left: 15px;
    padding-right: 15px;
}
html .news-card-people__carousel.owl-carousel{
    padding-left: 0;
    padding-right: 0;
}

.portfolio-pagination a , .portfolio-pagination-loading a{
    background: #fff none repeat scroll 0 0;
    border: 2px solid #2da9c8;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-family: Karla,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding: 2px 25px;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
}


.portfolio-pagination-loading a{
    opacity: 0.7;
}

.wrap-image  .bx-controls{
    display: none !important;
}

.navbar-with-inside{
    padding: 28px 0;
}

.blog-article .wpb_content_element:last-child{
    margin-bottom: 0;
}

/*.pix-footer .flickr_badge_image{*/
/*margin: 0;*/
/*}*/
/*.pix-footer .wpb_flickr_widget p.flickr_stream_wrap a{*/
/*font-size: 12px;*/
/*color: #999999;*/
/*}*/
.pix-footer .pix-item-review .icon{
    color: #777;
}

.pix-footer .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xs.vc_icon_element-have-style-inner {
    width: 1.75em!important;
    height: 1.75em!important;
}

.pix-preview-img{
    min-width: 350px;
    overflow: hidden;
    height: 462px;
    margin-bottom: 45px !important;
    transition: .35s;
}
.pix-preview-img:hover{
    transform: translateY(-15px);
}

/* small devices, tablets */
@media only screen and (max-width : 768px) {
    .animated {
        /*css transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*css transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*css animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

.table .actions .btn {
    margin-right: 15px;
}