    /* TODO: get rid of this terrible hack, workaround for Bootstrap grid */
    .col-4 {
        width: 33.333333333%;
        float: left;
        margin-bottom: 6px;
    }

    .map-response-table {
        width: 100%;
    }

    .severity-high {
        color: #da2127;
    }

    .severity-moderate {
        color: #DEC41D;
    }

    .severity-low {
        color: #3FAE49;
    }

    .map-response-table td {
        vertical-align: top;
    }

    td.td-detail {
        padding-bottom: 2rem;
    }

    td.td-notes {
        padding-bottom: 2rem;
    }

    .col-included {
        padding-right: 2%;
        width: 28%;
    }

    .col-implication {
        width: 35%;
    }

    td.td-included ul li {
        font-size: 0.9rem;
    }

    td.td-included label {
        font-size: 0.9rem;
    }

    td.td-prescriber-notes {
        padding-right: 0.9rem;
    }

    td.col-included {
        font-size: 14px;
    }

    .gene-label {
        font-weight: bold;
    }

    .selected-drug-container label {
        font-size: 14px;
        font-weight: bold;
    }

    .selected-drug-container .select2 {
        font-size: 13px;
        max-width: 400px;
    }

    .select2-results {
        font-size: 13px;
    }

    .select2-container--default .select2-results > .select2-results__options {
        max-height: 400px;
    }

    @media (min-width: 1201px) {
        .container {
            max-width: none;
            padding: 0 8%;
        }
    }

    .score-container {
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .score-container span {
        font-size: 18px;
        font-weight: bold;
    }

    .rationale-container {
        padding-top: 1rem;
    }

    table.score-breakdown th, table.score-breakdown td {
        padding: 0.2rem;
    }

    table.score-breakdown p {
        line-height: 14px;
    }

    .problem-category-container label {
        font-weight: bold;
    }

    .map-item:not(.map-item-last) {
        margin-bottom: 3rem;
        border-bottom: 2px solid #ddd;
        padding-bottom: 4rem;
    }

    .map-item-first {
        border-top:2px solid #ddd;
        padding-top: 2rem;
    }

    .map-item-last {
        margin-bottom: 3rem;
    }

    .row-prescriber {
        padding-top: 2rem;
    }

    #add-medication .added-message {
        margin-top: 1.2rem;
    }

    #button-add-medication-submit {
        opacity: 0.3;
    }

    #add-medication-severity-level {
        font-size: 0.9rem;
        padding-top: 0.5rem;
        padding-left: 0.7rem;
    }

    #button-clear-medication {
        margin-left:0.3rem;
    }

    .row.map-item .fa-check {
        color:green;
    }

    .selected-drug-container {
        max-width: 400px;
    }

    .select-severity-row {
        padding-top: 3rem;
    }

    .select-severity-row label {
        font-size: 14px;
        font-weight: bold;
    }
